html {
  font-size: 16px;
  color: rgb(33, 37, 41);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

table {
  margin: 12px 0;
  padding: 12px;
  width: 100%;
  text-align: left;
  justify-content: center;
}

td,th{
  Padding: 8px;
  border: 2px solid black;
  border-color: rgb(222, 226, 230);
}

th{
  font-weight: 700;
}

img {
  width: 12px;
  height: 12px;
  border: 1px solid black;
}

.search-field {
  width: 241px;
  height: 38px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(206, 212, 218);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  border-radius: 4px;
  width: 90%
}

.search-btn {
  height: 38px;
  border-color: rgb(206, 212, 218);
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  width: 5%;
  text-align: center;
}

.pagination-container {
  display: none;
  height: 32px;
  margin: 12px 32px;
  align-items: center;
}

.pagination-result-container {
  display: flex;
  margin: 0 8px;
  align-items: center;
  grid-column-gap: 8px;
}

.limit-input-container {
  display: flex;
  align-items: center;
  margin: 0 8px;
  grid-column-gap: 8px;
}

.limit-input-error{
  color: red;
  margin: 0 8px;
}
